__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.DS_Store
*.git
.git/
.vscode/
node_modules/
tests/
.venv/
*.md
*.mmd
*.json
*.toml
*.lock
*.egg-info/
*.bak
*.swp
libnet-d76db-firebase-adminsdk-ju1ex-d1382d36b4.json
.pytest_cache/
.ruff_cache/
*.tmp
*.swo
Thumbs.db
desktop.ini
~$*
*.lnk
*.url
*.zip
*.rar
*.7z
**/.ipynb_checkpoints/
~docker-compose.yml
