fastapi
gunicorn
dotenv
uvicorn[standard]
crawl4ai
uvloop
beautifulsoup4~=4.12
tf-playwright-stealth>=1.1.0
firebase-admin
google-cloud-firestore
upstash-redis
upstash_ratelimit
apscheduler
pydantic>=2.10
psutil>=6.1.1
aiomultiprocess
prometheus_client
prometheus-fastapi-instrumentator
redis[hiredis]
celery
courlan
aioboto3
zstandard